$color-primario: rgb(255, 211, 255);
$color-border: rgb(139, 139, 139);
$border-radius: 8px;
$border-radius2: 4px;


.contenedorLogin{
    margin-top: 0 !important;
}

.label-form{
    border-top-left-radius: $border-radius2;
    border-top-right-radius: $border-radius2;
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
    color:  rgb(77, 77, 77);
}

.label-form-bot{
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;

}

.margen-form{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.body-form{
    margin-top: 2rem !important;
    padding: 0;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}
.custom-dialog {
    position: absolute;
    top: calc(100% + 10px); /* Ajusta el margen entre el botón y el diálogo */
    left: 0;
    margin-left: 0; /* Ajusta la alineación horizontal si es necesario */
    z-index: 1000; /* Asegúrate de que el diálogo esté por encima de otros elementos */
  }
  
  .dialog-container {
    position: relative;
    display: inline-block;
  }