<div class="container-fluid mt-3 contenedorLogin">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 body-form">
        <div class="d-flex justify-content-center label-form">
            <label for="email" class="form-label">KC Venta - Caja Express</label>
        </div>
        <div class="mb-1 margen-form mt-2">
            <input type="text" class="form-control" id="email" placeholder="Usuario" name="email" [(ngModel)]="correo">
        </div>
        <div class="mb-2 margen-form">
            <input type="password" class="form-control" id="pwd" placeholder="Contraseña" name="pswd" [(ngModel)]="contrasena" (keydown.enter)="onLogin()">
        </div>
        <div class="d-flex flex-row-reverse label-form-bot">
            <button class="btn btn-outline-secondary btn-sm" (click)="onLogin()">Iniciar sesion</button>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>

    <p-toast></p-toast>
    <button (click)="showSuccess()">Mostrar Toast</button>
  </div>
  