.contenedorA{
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-principal{
    height: 38px;
    width: 38px; 
    cursor: pointer;
}

.menu-principal:hover{
    height: 38px;
    width: 38px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.logout{
    height: 38px;
    width: 38px; 
    cursor: pointer;
}

.logout:hover{
    height: 38px;
    width: 38px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 10px;
}

.user-icon{
    height: 38px;
    width: 38px; 
}

.user-text{
    font-size: 1rem;
}

.user{
    cursor: pointer;
    margin-right: 1rem;
    padding-right: 5px;
}

.user:hover{
    cursor: pointer;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.contenido-z{
    flex: 1;
    //background-color: rgba(0, 0, 0, 0.13);
}

.poss{
    margin-left: 1rem;
    width: 9rem;
    background-color: rgba(255, 251, 0, 0.308);
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    border:dashed 1px rgba(255, 196, 0, 0.801);
}

.poss:hover{
    margin-left: 1rem;
    width: 9rem;
    background-color: rgba(255, 251, 0, 0.637);
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    border:dashed 1px rgba(123, 255, 0, 0.801);
    cursor: pointer;
}