.contenedorA{
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu-principal{
    height: 38px;
    width: 38px; 
    cursor: pointer;
}

.menu-principal:hover{
    height: 38px;
    width: 38px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.logout{
    height: 38px;
    width: 38px; 
    cursor: pointer;
}

.logout:hover{
    height: 38px;
    width: 38px; 
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 10px;
}

.user-icon{
    height: 38px;
    width: 38px; 
}

.user-text{
    font-size: 1rem;
}

.user{
    cursor: pointer;
    margin-right: 1rem;
    padding-right: 5px;
}

.user:hover{
    cursor: pointer;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

.contenido-z{
    flex: 1;
    //background-color: rgba(0, 0, 0, 0.13);
}

.poss{
    margin-left: 1rem;
    width: 9rem;
    background-color: rgba(255, 251, 0, 0.308);
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    border:dashed 1px rgba(255, 196, 0, 0.801);
}

.poss:hover{
    margin-left: 1rem;
    width: 9rem;
    background-color: rgba(255, 251, 0, 0.637);
    border-radius: 8px;
    font-size: 1.4rem;
    text-align: center;
    border:dashed 1px rgba(123, 255, 0, 0.801);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100vmax;
    width: 100%;

}

.select-flotante1 {
    position: absolute;
    background-color: rgba(247, 247, 247, 0.925);
    height: 75%;
    width: 20rem;
    z-index: 100; /* Asegúrate de que esté encima del contenedor de fondo */
    border: solid 1px rgb(192, 192, 192);
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    padding-top: 0.3rem;
}

.control-frecuentes{
    background-color: rgb(255, 254, 216);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

app-caja{
    display: flex;
    flex-direction: column;
}