<div class="empleados-vista">
    <div class="row d-flex contenedor-principal">
        <div class="col-md-4" style="height: 100%;position: relative;background-color: rgba(255, 255, 255, 0.767);padding: 0px; border-radius: 8px; border: solid 1px rgb(216, 216, 216);">
          <div class="overflow-div-ext2" style="padding: 1rem; width: 100%;">
          <!-- Navegación de pestañas -->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <button class="nav-link" 
                        [ngClass]="{'active': pestanaActiva === 'gestionUsuarios'}" 
                        (click)="pestanaActiva = 'gestionUsuarios'">
                  Gestión de Servicio
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" 
                        [ngClass]="{'active': pestanaActiva === 'agregarUsuario'}" 
                        (click)="pestanaActiva = 'agregarUsuario'">
                  Agregar Servicio
                </button>
              </li>
            </ul>
        
            <!-- Contenido de las pestañas -->
            <div class="tab-content" id="userTabsContent" style="margin-top: 1rem;">
                <!-- Pestaña de Agregar servicio -->
                
                <div class="tab-pane fade" id="addUser" [ngClass]="{'show active': pestanaActiva === 'agregarUsuario'}">
                    <div class="mb-3">
                      <h6>Servicio</h6>
                      <input type="text" class="form-control" id="userName" [(ngModel)]="nuevoUsuario.nombreDeUsuario" placeholder="Ingresa el nombre" required (keydown.enter)="crearUsuario()">
                    </div>
                    <div class="mb-3">
                      <h6>Descripcion</h6>
                      <input type="email" class="form-control" id="userEmail" [(ngModel)]="nuevoUsuario.correo" placeholder="Breve descripcion" required (keydown.enter)="crearUsuario()">
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                      <button class="btn btn-primary" (click)="crearUsuario()" style="width: 100%;">Agregar Servicio</button>
                    </div>
                </div>
        
                <!-- Pestaña de Gestión de Servicio -->
                <div class="tab-pane fade show active" id="manageUsers" [ngClass]="{'show active': pestanaActiva === 'gestionUsuarios'}">

                    <div *ngIf="usuarioSeleccionado" class="card card-large" style="margin-top: 20px;">
                        <div class="card-body">

                            <!-- Nombre Editable -->
                            <div>
                            <strong>Servicio:</strong>
                            <input type="text" [(ngModel)]="usuarioSeleccionado.NombreDeUsuario" class="form-control">
                            </div>
                            
                            <!-- Correo Editable -->
                            <div>
                            <strong>Descripcion:</strong>
                            <input type="text" [(ngModel)]="usuarioSeleccionado.Correo" class="form-control">
                            </div>
                      
                            <div class="row">
                                <!-- Botón de eliminar (alineado a la izquierda) -->
                                <div class="col-6" style="text-align: left;">
                                <button class="btn btn-danger btn-sm" (click)="eliminarUsuario()" style="width: 100%;">Eliminar Usuario</button>
                                </div>
                            
                                <!-- Botón de guardar (alineado a la derecha) -->
                                <div class="col-6" style="text-align: right;">
                                <button class="btn btn-primary btn-sm" (click)="guardarCambios()" style="width: 100%;">Guardar Cambios</button>
                                </div>
                            </div>

                        </div>
                      </div>
                      
                </div>
            </div>
          </div>  
        </div>
        
        <div class="col-md-8" style="height: 100%;position: relative;">
            <div class="d-flex flex-column">
                <div class="p-2 bg-info separador-servicio">
                    <div class="contenido-servicio">

                        <p style="padding-left: 0.4rem;">Depilacion de ceja [<span style="color: grey;">Se depila con hilo o con cera</span>]</p>
                        <div class="d-flex flex-wrap bg-light">
                          <div class="p-2 border">Flex item 1</div>
                          <div class="p-2 border">Flex item 2</div>
                          <div class="p-2 border">Flex item 3</div>
                          <div class="p-2 border">Flex item 4</div>
                          <div class="p-2 border">Flex item 5</div>
                          <div class="p-2 border">Flex item 6</div>
                          <div class="p-2 border">Flex item 7</div>
                          <div class="p-2 border">Flex item 8</div>
                          <div class="p-2 border">Flex item 9</div>
                          <div class="p-2 border">Flex item 10</div>
                          <div class="p-2 border">Flex item 11</div>
                          <div class="p-2 border">Flex item 12</div>
                          <div class="p-2 border">Flex item 13 </div>
                          <div class="p-2 border">Flex item 14</div>
                          <div class="p-2 border">Flex item 15</div>
                          <div class="p-2 border">Flex item 16</div>
                          <div class="p-2 border">Flex item 17</div>
                          <div class="p-2 border">Flex item 18</div>
                          <div class="p-2 border">Flex item 19</div>
                          <div class="p-2 border">Flex item 20</div>
                          <div class="p-2 border">Flex item 21</div>
                          <div class="p-2 border">Flex item 22</div>
                          <div class="p-2 border">Flex item 23</div>
                          <div class="p-2 border">Flex item 24</div>
                          <div class="p-2 border">Flex item 25</div>
                        </div>
                    </div>
                </div>
                <div class="p-2 bg-info separador-servicio">
                    <div class="contenido-servicio">
                        
                    </div>
                </div>
                <div class="p-2 bg-info separador-servicio">
                    <div class="contenido-servicio">
                        
                    </div>
                </div>
            </div>


            <div class="overflow-div-ext">
                <div class="d-flex flex-wrap align-content-start overflow-div">

                    <div *ngFor="let usuario of usuarios" class="card card4" style="width:10rem;height: 15rem; flex: 0 0 auto;"
                    [ngClass] = "{
                        'selected-card': usuarioSeleccionado && usuarioSeleccionado.ID === usuario.ID,
                        'card-default': !(usuarioSeleccionado && usuarioSeleccionado.ID === usuario.ID)
                      }" 
                     (click)="seleccionarUsuario(usuario)">
                        <img class="card-img-top" src="../../assets/empleados.png" alt="Card image" style="width:100%">
                        <div class="card-body" style="padding: 0.5rem;">
                            <h6 class="card-title">{{ usuario.NombreDeUsuario }}</h6>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<p-toast></p-toast>