.empleados-vista {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.74);
}

.contenedor-principal{
    height: 100%;
    padding: 0.5rem;
}

.overflow-div {
    gap: 1rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.overflow-div2 {
    gap: 1rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.overflow-div-ext {
    position:absolute;
    overflow: auto; 
    height: 100%;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.overflow-div-ext2 {
  position:absolute;
  overflow: auto; 
  height: 100%;
}

  .selected-card {
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    text-shadow: 1px 1px 4px rgb(212, 212, 212);
    border: solid 1px rgb(148, 148, 148);
  }
  
  .card-default {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: solid 1px rgb(201, 201, 201);
  }

  ///////////////////////////////////////////////////////////////////////
  .separador-servicio{
    padding: 0px;
  }

  .contenido-servicio{
    transition: background-color 0.8s, border 0.8s;
    width: 100%;
    height: 100%;
    
    border-radius: 4px;
    min-height: 3rem;
  }
  .contenido-servicio:has(.servicio-select:hover){
    transition: background-color 0.8s, border 0.8s;
    background-color: rgb(250, 250, 250);
  }

  .contenido-servicio-interno{
    padding: 0.1rem;
  }

  .servicio-select{
    padding-left: 0.4rem;
    margin: 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 4px 4px 0px 0px;
  }

  .servicio-select:hover {
    text-shadow: 1px 1px 4px rgb(212, 212, 212);
  }

  .mini-contenido{
    padding: 0.1rem !important;
    padding-left: 0.3rem !important;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(119, 119, 119);
    margin: 0.2rem;
    font-size: 12px;
    background-color: rgb(243, 151, 238);
    border-radius: 4px;
  }

  .mini-contenido-interno{
    color: rgb(117, 117, 117);
    background-color: rgb(255, 255, 255);
    margin-right: 0.14rem;
    margin-left: 0.3rem;
    text-shadow: none;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 2px;
    font-weight: bold;
  }