<div class="empleados-vista">
    <div class="row d-flex contenedor-principal">
        <div class="col-md-4" style="background-color: aliceblue;">
        </div>
        <div class="col-md-8" style="background-color: rgb(87, 131, 170); padding: 1rem;">

            <div class="card" style="width:10rem">
                <img class="card-img-top" src="../../assets/empleados.png" alt="Card image" style="width:100%">
                <div class="card-body" style="padding: 0.5rem;">
                  <h6 class="card-title">John Doe</h6>
                  <div>1</div>
                </div>
            </div>

        </div>
    </div>
    
</div>