@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
$color-primario: rgba(255, 198, 247, 0.397);

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), $color-primario), url('assets/logokc.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
