.contenedorB{
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
}

.cardA{
    width: 15rem; 
    height: 5rem;  
    margin: 0.3rem;
    user-select: none;
}

.cardA:hover{
    width: 15rem; 
    height: 5rem;  
    margin: 0.3rem;
    cursor:pointer;
    z-index: 1000;
    //background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../../assets/mas5.png');
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: right;
    border: solid 1px rgb(148, 42, 130);
}

.cardA:active{
    cursor:cell;
    border: solid 1px rgb(255, 0, 212);
}

.imgA{
    height: 4.7rem;
}

.cBody{
    padding: 0.2rem;
    max-height: 4.9rem;
    overflow: hidden;
}

.limit{
    height: 2.80rem !important;
    margin: 0px;
    font-size: 0.85rem;
    margin-bottom:0.20rem;
    overflow: hidden;
}

.precio{
    height: 1.5rem !important;
    margin: 0px;
    border-top: dashed 1px rgb(204, 204, 204);
}

.caja-lado-izquierdo-row {
    background-color: rgba(255, 165, 240, 0.616);
    margin: 0px;
    height: 100%;
    border-radius: 0px 10px 0px 0px;
    padding-top: 0.15rem;
    padding-right: 0.15rem;
    border-top: solid 1px rgb(131, 131, 131);
    border-right: solid 1px rgb(131, 131, 131);
}

.caja-lado-izquierdo2-row {
    background-color: rgba(255, 255, 255, 0.89);
    margin: 0px;
    height: 100%;
    border-radius: 0px 10px 0px 0px;
    border: solid 1px rgb(131, 131, 131);
    position: relative !important;
}

.caja-lado-derecho-row {
    background-color: rgba(255, 165, 240, 0.616);
    margin: 0px;
    height: 100%;
    border-radius: 10px 0px 0px 0px;
    padding-top: 0.15rem;
    padding-left: 0.15rem;
    border-top: solid 1px rgb(131, 131, 131);
    border-left: solid 1px rgb(131, 131, 131);
}

.caja-lado-derecho2-row {
    background-color: rgba(255, 255, 255, 0.89);
    margin: 0px;
    height: 100%;
    border-radius: 10px 0px 0px 0px;
    border: solid 1px rgb(131, 131, 131);
    position: relative !important;
}

.caja-centro {
    background-color: rgba(255, 165, 240, 0.616);
    margin: 0px;
    height: 100%;
    border-radius: 10px;
    padding: 0.15rem;
    border: solid 1px rgb(131, 131, 131);
    //box-shadow: rgb(58, 58, 58) 0px 0px 15px;
}

.caja-centro2 {
    background-color: rgba(255, 255, 255, 0.89);
    margin: 0px;
    height: 100%;
    border-radius: 10px;
    border: solid 1px rgb(131, 131, 131);
    position: relative !important;
}

.fijar-caja{
    flex: 1;
}

.tabla-overflow{
    width: 96%;
    height: 96%;
    position:absolute;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

.tabla-overflow2-1{
    width: 100%;
    border-bottom: 1px solid rgb(190, 190, 190);
}
.tabla-overflow2-2{
    width: 100%;
    flex: 1;
    overflow: auto; 
}
.tabla-overflow2-3{
    width: 100%;
    border-top: 1px solid rgb(190, 190, 190);
    position: relative;
    bottom: 0;
    
}

.tabla-overflow2-2::-webkit-scrollbar{
    display: none;
}

.eliminacion{
    color: rgb(196, 33, 33); 
    width: 9%; 
    cursor: pointer;
}
.eliminacion:hover{
    color: rgb(250, 0, 0); 
    text-decoration: underline;
}

.eliminacion-individual{
    color: rgb(175, 70, 70);
    width: 9%;
    text-align: center;
    cursor: pointer;
}
.eliminacion-individual:hover{
    color: rgb(250, 0, 0); 
}